<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8">
<title>HealthCheck初期画面</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
      <h1>HealthCheck初期画面</h1>
      <form method="post" action="kenko"> 
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>体温</th>
            <th>脈拍</th>
            <th>血圧(上)</th>
            <th>血圧(下)</th>
            <th>SPO2</th>
          <th></th>
            <th></th> 
            <th></th>
            <th></th>
             <th></th>
              <th></th>
               <th></th>
                <th></th>
          </tr>
        </thead>
        <tbody>
        
        <tr th:each="healthCheck:${health}" th:object="${healthCheck}">
         
         <td th:text="*{id}"></td>
            <td th:text="*{bodytemperature}"></td>
            <td th:text="*{pulse}"></td>
            <td th:text="*{systolicbloodpressure}"></td>
            <td th:text="*{diastolicbloodpressure}"></td>
            <td th:text="*{aturation}"></td>
           
           <td><a class="btn btn-default btn-xs" th:href="@{/health/{id}(id=*{id})}">参照</a></td>
           <td><a class="btn btn-default btn-xs" th:href="@{/health/{id}/edit(id=*{id})}">編集</a></td>
         
          </tr>
          </tbody>
      </table>
       <a class="btn btn-default" href="new">登録画面</a>
     </form>
      
    </div>
</body>
</html>